<sidebar>
    <nav>
        <ul>
            <li><a href="/"><img src="https://cdn-icons-png.flaticon.com/128/9073/9073032.png" alt="" width="50rem"></a></li>
            <li><a href="/about"><img src="https://cdn-icons-png.flaticon.com/128/3357/3357329.png" alt="" width="50rem"></a></li>
            <li><a href="/project"><img src="https://cdn-icons-png.flaticon.com/128/3310/3310063.png" alt="" width="50rem"></a></li>
            <li><a href="/contact"><img src="https://cdn-icons-png.flaticon.com/128/14946/14946653.png" alt="" width="50rem"></a></li>
        </ul>
    </nav>
</sidebar>
<style>
    sidebar {
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        width: fit-content;
        background-color: #181616;
        padding: 20px;
        text-align: center;
    }
    nav ul {
        list-style-type: none;
        justify-content: space-between;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 10px;
        /* background-color: rgb(80, 77, 77); */
        color: rgb(58, 216, 19);
        font-size: 3rem;
        border-radius: 10px;
        color: white;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
        /* color: #333; */
    }
    nav ul li a:hover {
        color: #000;
    }
    nav ul li:hover {
        color: #000;
        background-color: white;
        border-radius: 30px;
    }
</style>